body {
	font-family: 'Poppins', sans-serif;
}

/* CLASSES */

nav .brand-logo {
	color: #d500f9;
	font-family: 'Squada One', sans-serif;
	font-size: 3em;
}

nav .nav-wrapper {
	box-shadow: none;
}

/* .section {
	padding-top: 5%;
} */

.h1-style {
	color: #d500f9;
	font-family: 'Squada One', sans-serif;
}

.paragraph-style{
	font-size: 1.5em;
	color: #757575 ;
	margin-top: 0;
	text-align: left;
	margin-right: 15%;
	line-height: 1.5em;
	font-weight: 400;
}


.table-of-contents a {
	font-size: 1.15rem;
	color: #757575;
}

.table-of-contents a:hover{
	border-left: 2px solid #d500f9;
}

.table-of-contents a:active {
	color: black;
}

/* PULSING EFFECT */
.blob {
	background: #e1bee7;
	border-radius: 50%;
	margin: 10px;
	height: 20px;
	width: 20px;

	box-shadow: 0 0 0 0  #e1bee7;
	transform: scale(1);
	animation: pulse 2s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(225,190,231, 0.7); 
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0,0,0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0,0,0, 0);
	}
}