body {
	font-family: 'Poppins', sans-serif;
  background-color: #2B2730;
  color: #e0e0e0;
}

.social-header {
  display: inline-flex;
  padding: 0 5% 0 5%;
}

.social-item {
  padding: 0 5% 0 5%;
}


.table-of-contents a.active {
  border-left: 2px solid #f06292;
}

.table-of-contents a:hover{
  color: #fff;
}

#intro {
  padding-top: 60px;
  margin-top: 200px;
  margin-bottom: 100px;
}

#experience, #projects{
  margin-top: 100px;
  margin-bottom: 20px;
}

/* Projects */

.project-card {
  text-align: right;
  background-color: #E4A5FF;
  border-radius: 5%;
  color: #424242;
  display: flexbox;
}

.project-card:nth-child(2){
  background-color: #FFCDA8;
}

.project-card:nth-child(3){
  background-color: #73BBC9;
}

.project-type{
  font-size: 1.7rem;
  text-transform: uppercase;
  font-weight: 300;
}

.card .card-action {
  color:  #424242;
}


/* Skills */

#skills {
  background-color: #3d4249;
}

.card-image {
  font-size: 5vw;
}

#skills .card {
 padding: 5%;
}

/* CLASSES */

nav .brand-logo {
	color: #f06292;
	font-family: 'Squada One', sans-serif;
	font-size: 3em;
}

nav .nav-wrapper {
	box-shadow: none;
}

/* .section {
	padding-top: 5%;
} */


.h1-style {
	font-size: 9.5vh;
	color: #f06292;
	font-family: 'Squada One', sans-serif;
}

.h2-style {
  color: #f06292;
}

.paragraph-style{
  color: #e0e0e0;
	font-size: 1.5em;
	margin-top: 0;
	text-align: left;
	margin-right: 15%;
	line-height: 1.5em;
	font-weight: 400;
}

#menu {
	position: fixed;
  margin: 1.5%;
}

.table-of-contents a {
	font-size: 1.15rem;
	color: #e0e0e0;
  padding-left: 5%;
}

.table-of-contents a:hover{
	border-left: 2px solid #f06292;
  font-weight: 500;
}

.table-of-contents a:active {
	color: black;
}


/* PULSING EFFECT */
.blob {
	background: #e1bee7;
	border-radius: 50%;
	margin: 10px;
	height: 20px;
	width: 20px;

	box-shadow: 0 0 0 0  #e1bee7;
	transform: scale(1);
	animation: pulse 2s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(225,190,231, 0.7); 
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0,0,0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0,0,0, 0);
	}
}

/* Timeline functionality */

.timeline {
  position: relative;
}

.timeline .timeline-event {
  position: relative;
  padding-top: 5px;
  padding-bottom: 5px;
}

.timeline .timeline-event .timeline-content {
  position: relative;
  width: calc(50% - 50px);
  text-align: left;
  background-color: transparent;
}

.timeline .timeline-event::before {
  display: block;
  content: "";
  width: 2px;
  height: calc(40% - 30px);
  position: absolute;
  background:  #e0e0e0;
  left: calc(50% - 1px);
  top: 0;
}

.timeline .timeline-event::after {
  display: block;
  content: "";
  width: 2px;
  height: calc(60% - 40px);
  position: absolute;
  background:  #e0e0e0;
  left: calc(50% - 1px);
  top: calc(50% + 30px);
}

.timeline .timeline-event:first-child::before {
  display: none;
}

.timeline .timeline-event:last-child::after {
  display: none;
}

.timeline .timeline-event:nth-child(even) .timeline-content {
  margin-left: calc(50% + 50px);
}

.timeline .timeline-event:nth-child(odd) .timeline-content {
  margin-left: 0;
}

.timeline .timeline-badge {
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  background:  #f3e5f5 ;
  top: calc(45% - 6.5px);
  right: calc(50% - 8px);
  border-radius: 50%;
  text-align: center;
  cursor: default;
}

.timeline .timeline-badge i {
  font-size: 25px;
  line-height: 40px;
}

/* Timeline Styling */

.lang-tag {
  font-weight: 400;
  padding-right: 2%;
  color: #0091ea;
}

.tool-tag{
  font-weight: 400;
  padding-right: 2%;
  color: #ce93d8;
}

li.elem {
  list-style-type: circle !important;
}

li.elem::marker {
  color: #EF9A53;
  font-size: 1.5vw;
  margin-top: 1%;
}

.card-panel {
  background-color: rgba(0,0,0,0.1);
}


.card .card-content .card-title{
  font-weight: 400;
}
/* date styling */


.company {
  color: #EF9A53;
  font-style: italic;
}

.card-title {
  color: #ffff;
}


@media (max-width: 600px) {
  .timeline .timeline-event .timeline-content {
      width: calc(100% - 70px);
  }
  .timeline .timeline-event::before {
      left: 19px;
  }
  .timeline .timeline-event::after {
      left: 19px;
  }
  .timeline .timeline-event:nth-child(even) .timeline-content {
      margin-left: 70px;
  }
  .timeline .timeline-event:nth-child(odd) .timeline-content {
      margin-left: 70px;
  }
  .timeline .timeline-badge {
      left: 2.5%;
  }
}


