body {
	font-family: 'Lato', sans-serif;
}

/* CLASSES */

nav .brand-logo {
	color: #d500f9;
	font-family: 'Squada One', sans-serif;
	font-size: 3em;
}

nav {
	box-shadow: none;
}

.h1-style {
	color: #d500f9;
	font-family: 'Squada One', sans-serif;
	margin-bottom: 0;
}

.h4-style {
	color: #616161;
	margin-top: 0;
}

.my-container {
	margin: 0 50px 0 0;
}

/* PULSING EFFECT */
.blob {
	background: #e1bee7;
	border-radius: 50%;
	margin: 10px;
	height: 20px;
	width: 20px;

	box-shadow: 0 0 0 0  #e1bee7;
	transform: scale(1);
	animation: pulse 2s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(225,190,231, 0.7); 
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0,0,0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0,0,0, 0);
	}
}