<%- include('partials/header') %>
      
      <!-- Top hero -->

      <section class="top-hero container" id="top">
        <div class="pop-over">
          <div class="top-section">
            <span class="dot pink lighten-1"></span>
            <span class="dot amber lighten-2"></span>
            <span class="dot light-green accent-4"></span>
          </div>
            <div class="content">
              <h1 class="top-header">I'm Anastas<span class="dot-the-eyes">ii</span>a</h1>
              <h6 class="hero-subhead">Software Engineer, Web Designer, Color & Music Enjoyer</h6>
              <div class="socials-wrap">
                <a href="#contact" class="btn-floating btn waves-effect waves-light rounded hero-link">
                  <i class="fa-solid fa-envelope"></i>
                </a>
                <a href="https://www.linkedin.com/in/abalakhan/" target="_blank" class="btn-floating btn waves-effect waves-light rounded hero-link"><i class="fa-brands fa-linkedin-in"></i></a>
                <a href="https://github.com/abalakhan" target="_blank" class="btn-floating btn waves-effect waves-light rounded hero-link"><i class="fa-brands fa-github-alt github-floating"></i></a>
                <a href="https://abalakhan.github.io/resume/" target="_blank" class="btn-floating btn waves-effect waves-light rounded hero-link" target=="_blank"><i class="fa-solid fa-paperclip"></i></a>

              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Selected works -->
      <section class="works" id="work">
        <div class="container">

          <h2> selected works</h2>
          <!-- ROW 1 -->

          <div class="row py-3">
            <!-- CARD 1 -->
            <div class="col s12 m6 l6 p-3">
              <a href="/project/enchanted-spatula/">
                <div class="card blue lighten-4">
                  <div class="card-image">
                      <div class="activator waves-effect waves-light" style="position:absolute;top:0;bottom:0;right:0;left:0;"></div>
                    </div>
                    <div class="card-content">
                      <span class="card-eyebrow">AI POWERED WEB APP</span>
                      <a href="/project/enchanted-spatula/"><h4 class="card-title activator">Enchanted Spatula</h4></a>
                      <br>
                    </div>
                    <a href="/project/enchanted-spatula/"><img class="card-img" src="img/enchanted-spatula-img.png"> </a>
                  </div>
              </a>  
            </div>
            <!-- CARD 2 -->

            <div class="col s12 m6 l6 p-3">

               <a href="/project/sparrow-photography">

                  <div class="card orange lighten-4">
                      <div class="card-image">
                        <div class="activator waves-effect waves-light" style="position:absolute;top:0;bottom:0;right:0;left:0;"></div>
                      </div>
                      <div class="card-content">
                        <p class="card-eyebrow">website</p>
                        <h4 class="card-title activator">Sparrow Photography</h4>
                      </div>
                      <img class="card-img" src="img/sparrow-photography.png">
                  </div>
                </a>  

            </div>
          </div>

          <!-- ROW 2 -->

          <div class="row py-3">
            <!-- CARD 3 -->
            <div class="col s12 m6 l6 p-3">
              <a href="/project/consumer-trends-index-2025/">
                <div class="card green lighten-4">
                  <div class="card-image">
                      <div class="activator waves-effect waves-light" style="position:absolute;top:0;bottom:0;right:0;left:0;"></div>
                    </div>
                    <div class="card-content">
                      <span class="card-eyebrow">microwebsite</span>
                      <a href="/project/consumer-trends-index-2025/"><h4 class="card-title activator">Consumer Trends Index 2025</h4></a>
                      <br>
                    </div>
                    <a href="/project/consumer-trends-index-2025/"><img class="card-img" src="img/cti-graphic.svg"> </a>
                  </div>
              </a>  
            </div>

              <!-- CARD 4 -->
              <div class="col s12 m6 l6 p-3">
              <a href="/project/todo-list/">

                  <div class="card red lighten-4"">
                      <div class="card-image">
                        <div class="activator waves-effect waves-light" style="position:absolute;top:0;bottom:0;right:0;left:0;"></div>
                      </div>
                      <div class="card-content">
                        <p class="card-eyebrow">app</p>
                        <h4 class="card-title activator">To-Do List</h4>
                      </div>
                      <img class="card-img" src="img/to-do-list.png">
                  </div>
                </a>
              </div>
          </div>
        <!-- END OF THE WORKS SECTION -->
        </div>
      </section>

      <!-- Work in Progress -->

      <!-- About -->

      <section class="about-section" id="about">
        <div class="container">
          <div class="row about-row">
            <div class="col s12 m6 l6 center">
              <img class="responsive-img px-5" src="img/about-graphic.png" alt="Anastasiia Balakhan" />
            </div>
            <div class="col s12 m6 l6 about-content px-5">
              <h2>I'm Anastas<span class="dot-the-eyes">ii</span>a</h2>
              <p>Software Engineer and Web Developer, born and raised in <br> <a href="https://www.leleka.care/" target="_blank" class="tooltipped" data-position="top" data-tooltip="This is a foundation focusing on medical and first-aid supplies distribution. I'd appreciate your help!">Kyiv, Ukraine</a> and now based in New Orleans, Louisiana.</p>
              <p>Over the past 9 years I've been passionate about software development, UI/UX design and graphic design. 
              <br>I am always working on improving myself as a professional and as a person!</p>
              <p>In my free time I enjoy creating electronic music, arts and crafts, exercising and reading.</p>
            </div>
          </div>
                
        </div>
      </section>

      <!-- get in touch -->

      <div class="contact" id="contact">
        <div class="container">
          <div class="row">
            <div class="col s12 m12 l6 px-5">
              <h2 class="contact-header">Get in Touch</h2>
              <form id="contact-form">
                <div class="input-field">
                  <input class="item" id="name" type="text" placeholder=" ">
                  <label for="name">Name</label>
                  <span class="supporting-text error-txt" data-error="wrong" data-success="right">Name cannot be blank</span>
                </div>
                <div class="input-field inline">
                  <input class="item" id="email" type="email" placeholder=" ">
                  <label for="email">Email</label>
                  <span class="supporting-text error-txt email" data-error="wrong" data-success="right">Email cannot be blank</span>
                </div>
                <div class="input-field">
                  <input class="item" id="subject" type="text" placeholder="Hello! c:">
                  <label for="subject">Subject</label>
                  <span class="supporting-text error-txt" data-error="wrong" data-success="right">Subject cannot be blank</span>
                </div>
                <div class="input-field">
                  <textarea class="materialize-textarea item" id="textarea" maxlength="120" placeholder=" "></textarea>
                  <label for="textarea">Your Message</label>
                  <span class="supporting-text error-txt" data-error="wrong" data-success="right">Message cannot be blank</span>
                </div>
                <button class="btn filled icon-right rounded waves-effect waves-light contact-button" type="submit">
                  Submit
                </button>
              </form>  
            </div>
            <div class="col s12 m12 l6 center">
              <img class="responsive-img" src="img/girl-working.png" alt="">
            </div>
          </div>
        </div>
      </div>

      <!-- footer -->

<%- include('partials/footer') %>   