<!DOCTYPE html>
  <html>
    <head>

      <title>Anastasiia Balakhan | Developer</title>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- Compiled and minified CSS -->
        
        <!-- Favicons -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@materializecss/materialize@2.0.3-alpha/dist/css/materialize.min.css">
        <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="img/favicons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="img/favicons/favicon-16x16.png">
        <link rel="mask-icon" href="/img/favicons/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
       <!-- Local CSS -->
       <link type="text/css" rel="stylesheet" href="/css/styles.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

      <!-- Inter font -->
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
      
      <!-- Freeman Google Font -->
      <link href="https://fonts.googleapis.com/css2?family=Freeman&display=swap" rel="stylesheet">

      <script src="https://kit.fontawesome.com/88c3bdaf7a.js" crossorigin="anonymous"></script>
    
    </head>

    <body>
      
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <div id="preloader" class="preloader-container">
      <div class="animation">
        <div class="player">
          <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script> 

          <dotlottie-player src="https://lottie.host/762689f6-3733-4ea2-9543-6b87c68b77c2/BQBb3numTQ.json" background="transparent" speed="1" style="width: 300px; height: 300px;" loop autoplay></dotlottie-player>
        </div>
        <!-- <a id="skip"><i class="fa-solid fa-forward"></i></a> -->
      </div>
    </div>

      <!-- Nav Goes here -->
      <div class="navbar-fixed">
        <nav class="fill">
          <div class="container">
            <div class="nav-wrapper">
              <a href="index.html" class="brand-logo"><span class="dot-the-eyes">ii</span></a>
              <a href="index.html" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
              <ul class="right">
                <li class="nav-item hide-on-med-and-down"><a href="#work"><i class="fa-solid fa-folder nav-icon"></i>Works</a></li>
                <li class="nav-item hide-on-med-and-down"><a href="#about"><i class="fa-solid fa-heart"></i>About</a></li>
                <li class="nav-item hide-on-med-and-down"><a href="#contact"><i class="fa-solid fa-moon"></i></i>Contact</a></li>
                <li class="nav-item hide-on-med-and-down"><a href="https://abalakhan.github.io/resume/" target="_blank"><i class="fa-solid fa-star"></i>Resume</a></li>
                <li class="nav-item switcher">
                  <div>
                    <input type="checkbox" class="checkbox" id="checkbox">
                    <label for="checkbox" class="switch checkbox-label">
                      <i class="fas fa-moon"></i>
                      <i class="fas fa-sun"></i>
                      <span class="ball"></span>
                    </label>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="progress-bar" />
          <button class="back-to-top hidden">
            <!-- <i class="fa-solid fa-arrow-up"></i> -->
            <i class="material-icons arrow-up">arrow_drop_up</i>
          </button>
          <div class="progress-bar" />
        </nav>
      </div>
      
      <!-- mobile menu -->
      <ul class="sidenav" id="mobile-demo">
        <li><a href="#work"><i class="fa-solid fa-folder nav-icon"></i>Works</a></li>
        <li class="nav-item"><a href="#about"><i class="fa-solid fa-heart nav-icon"></i>About</a></li>
        <li class="nav-item"><a href="#contact"><i class="fa-solid fa-moon nav-icon"></i></i>Contact</a></li>
        <li class="nav-item"><a href="https://abalakhan.github.io/resume/" target="_blank"><i class="fa-solid fa-star nav-icon"></i>Resume</a></li>
      </ul>

      <!-- Floating button goes here -->
      <div id="floating-contact" class="fixed-action-btn">
        <a class="btn-floating btn-large floating-button-first pulse">
          <div class="dot-the-eyes">ii</div>
        </a>
        <ul>
          <li><a href="#contact" class="btn-floating inside-button"><i class="fa-solid fa-envelope"></i></a></li>
          <li><a href="https://www.linkedin.com/in/abalakhan/" target="_blank" class="btn-floating inside-button"><i class="fa-brands fa-linkedin-in"></i></a></li>
          <li><a href="https://github.com/abalakhan" target="_blank" class="btn-floating inside-button"><i class="fa-brands fa-github-alt github-floating"></i></a></li>
          <li><a href="https://abalakhan.github.io/resume/" target="_blank" class="btn-floating inside-button"><i class="fa-solid fa-paperclip"></i></a></li>
        </ul>
      </div>
      

      <!-- Top hero -->

      <section class="top-hero container" id="top">
        <div class="pop-over">
          <div class="top-section">
            <span class="dot pink lighten-1"></span>
            <span class="dot amber lighten-2"></span>
            <span class="dot light-green accent-4"></span>
          </div>
            <div class="content">
              <h1 class="top-header">I'm Anastas<span class="dot-the-eyes">ii</span>a</h1>
              <h6 class="hero-subhead">Software Engineer, Web Designer, Color & Music Enjoyer</h6>
              <div class="socials-wrap">
                <a href="#contact" class="btn-floating btn waves-effect waves-light rounded hero-link">
                  <i class="fa-solid fa-envelope"></i>
                </a>
                <a href="https://www.linkedin.com/in/abalakhan/" target="_blank" class="btn-floating btn waves-effect waves-light rounded hero-link"><i class="fa-brands fa-linkedin-in"></i></a>
                <a href="https://github.com/abalakhan" target="_blank" class="btn-floating btn waves-effect waves-light rounded hero-link"><i class="fa-brands fa-github-alt github-floating"></i></a>
                <a href="https://abalakhan.github.io/resume/" target="_blank" class="btn-floating btn waves-effect waves-light rounded hero-link" target=="_blank"><i class="fa-solid fa-paperclip"></i></a>

              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Selected works -->
      <section class="works" id="work">
        <div class="container">

          <h2> selected works</h2>
          <!-- ROW 1 -->

          <div class="row py-3">
            <div class="col s12 m6 l6 p-3">

              <!-- CARD 1 -->
              
              <div class="card green lighten-4">
                <div class="card-image">
                  <div class="activator waves-effect waves-light" style="position:absolute;top:0;bottom:0;right:0;left:0;"></div>
                </div>
                <div class="card-content">
                  <span class="card-title activator"><i class="material-icons right">expand_more</i></span>
                  <span class="card-eyebrow">website</span>
                  <h4 class="card-title activator">Sparrow Photography</h4>
                </div>
                <img class="card-img" src="img/sparrow-photography.png">
                <div class="card-reveal">
                  <span class="card-title"><i class="material-icons right">close</i>Sparrow Photography</span>
                  <p>A website that I originally designed and programmed for a young real estate small business professional. Prototyped in Figma, logo desing in Adobe Illustrator, programmed using Express.js and Node.js. I learned how to use AWS Elastic Beanstalk to host it. Worth the time!</p>
                  <div class="link-grid">
                    <a href="https://sparrowrephotography.com/" target="_blank" class="btn-floating btn-small waves-effect waves-light rounded project-button">
                      <i class="material-icons">link</i>
                    </a>
                    <a href="https://github.com/abalakhan/sparrowrephotography" target="_blank" class="btn-floating btn-small waves-effect waves-light rounded">
                      <i class="fa-brands fa-github-alt"></i>
                    </a>
                    <a href="https://www.figma.com/design/6zwLDn1tpASFcr632m8pJp/Sparrow-Photography-Website-Concept?node-id=0-1&t=9kO5tvfnrZ0YD1Lm-0" target="_blank" class="btn-floating btn-small waves-effect waves-light rounded">
                      <i class="fa-brands fa-figma"></i>
                    </a>
                    
                    
                  </div>
                  <h6>Tools used:</h6>
                  <div class="tools-list">
                    <span class="skill btn-small filled light-green black-text">HTML</span>
                    <span class="skill btn-small filled purple lighten-3 black-text">CSS</span>
                    <span class="skill btn-small filled light-green black-text">JS</span>
                    <span class="skill btn-small filled light-green black-text">Bootstrap</span>
                    <span class="skill btn-small filled light-green black-text">Express.js</span>
                    <span class="skill btn-small filled light-green black-text">Node.js</span>
                    <span class="skill btn-small filled light-green black-text">AWS</span>
                    <span class="skill btn-small filled light-green black-text">EJS</span>
                    <span class="skill btn-small filled purple lighten-3 black-text">Figma</span>
                    <span class="skill btn-small filled purple lighten-3 black-text">Logo Design</span>
                    <span class="skill btn-small filled purple lighten-3 black-text">Adobe Illustrator</span>
                  </div>
                </div>
                
              </div>
            </div>

            <!-- CARD 2 -->

            <div class="col s12 m6 l6 p-3">
              <div class="card red lighten-4">
                <div class="card-image">
                  <div class="activator waves-effect waves-light" style="position:absolute;top:0;bottom:0;right:0;left:0;"></div>
                </div>
                <div class="card-content">
                  <span class="card-title activator"><i class="material-icons right">expand_more</i></span>
                  <p class="card-eyebrow">app</p>
                  <h4 class="card-title activator">To-do List</h4>
                </div>
                <img class="card-img" src="img/to-do-list.png">
                <div class="card-reveal">
                  <span class="card-title"><i class="material-icons right">close</i>To-Do App</span>
                  <p>A productivity app to unload your brain from all the things you have to do and organize them in one place.</p>
                  <div class="link-grid">
                    <a href="https://github.com/abalakhan/blog-website" class="btn-floating btn-small waves-effect waves-light rounded">
                      <i class="fa-brands fa-github-alt"></i>
                    </a>
                  </div>
                  <h6>Tools used:</h6>
                  <div class="tools-list">
                    <span class="skill btn-small filled light-green black-text">HTML</span>
                    <span class="skill btn-small filled purple lighten-3 black-text">CSS</span>
                    <span class="skill btn-small filled light-green black-text">JS</span>
                    <span class="skill btn-small filled purple lighten-3 black-text">Bootstrap</span>
                    <span class="skill btn-small filled light-green black-text">MongoDB</span>
                    <span class="skill btn-small filled light-green black-text">Express.js</span>
                    <span class="skill btn-small filled light-green black-text">React.js</span>
                    <span class="skill btn-small filled light-green black-text">Node.js</span>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <!-- ROW 2 -->

          <div class="row py-3">
            <div class="col s12 m6 l6 p-3">
              
              <!-- CARD 3 -->

              <div class="card orange lighten-4">
                <div class="card-image">
                  <div class="activator waves-effect waves-light" style="position:absolute;top:0;bottom:0;right:0;left:0;"></div>
                </div>
                <div class="card-content">
                  <span class="card-title activator"><i class="material-icons right">expand_more</i></span>
                  <p class="card-eyebrow">website</p>
                  <h4 class="card-title activator">Woodehead Music</h4>
                </div>
                <img class="card-img" src="img/woodenhead-music.png">
                <div class="card-reveal">
                  <span class="card-title"><i class="material-icons right">close</i>Woodenhead Music</span>
                  <p>Website I created for a New Orleans-based band. This refreshed version was inspired by the album cover and band's photos.</p>
                
                  <div class="link-grid">
                    <a href="https://www.woodenheadmusic.com/" target="_blank" class="btn-floating btn-small waves-effect waves-light rounded project-button">
                      <i class="material-icons">link</i>
                    </a>
                    <a href="https://github.com/abalakhan/woodenhead.abalakhan-github.com" target="_blank" class="btn-floating btn-small waves-effect waves-light rounded">
                      <i class="fa-brands fa-github-alt"></i>
                    </a>
                  </div>
                  <h6>Tools used:</h6>
                  <div class="tools-list">
                    <span class="skill btn-small filled light-green black-text">HTML</span>
                    <span class="skill btn-small filled purple lighten-3 black-text">CSS</span>
                    <span class="skill btn-small filled light-green black-text">JS</span>
                    <span class="skill btn-small filled purple lighten-3 black-text">Bootstrap</span>
                    <span class="skill btn-small filled purple lighten-3 black-text">Adobe Photoshop</span>
                    <span class="skill btn-small filled purple lighten-3 black-text">Adobe Illustrator</span>
                  </div>
                </div>
              </div>
              
            </div>
            <div class="col s12 m6 l6 p-3">
              <!-- CARD 4 -->

              <div class="card blue lighten-4">
                <div class="card-image">
                  <div class="activator waves-effect waves-light" style="position:absolute;top:0;bottom:0;right:0;left:0;"></div>
                </div>
                <div class="card-content">
                  <span class="card-title activator"><i class="material-icons right">expand_more</i></span>
                  <p class="card-eyebrow">app</p>
                  <h4 class="card-title activator">Blog</h4>
                </div>
                <img class="card-img" src="img/blog-graphic.png">
                <div class="card-reveal">
                  <span class="card-title"><i class="material-icons right">close</i>Blog Website</span>
                  <p>Blog website! The posted data is being saved to be read for later. The code is using JS and EJS templates to make magic happen.</p>
                  <div class="link-grid">
                    <a href="https://github.com/abalakhan/blog-website" target="_blank" class="btn-floating btn-small waves-effect waves-light rounded">
                      <i class="fa-brands fa-github-alt"></i>
                    </a>
                  </div>
                  <h6>Tools used:</h6>
                  <div class="tools-list">
                    <span class="skill btn-small filled light-green black-text">HTML</span>
                    <span class="skill btn-small filled purple lighten-3 black-text">CSS</span>
                    <span class="skill btn-small filled light-green black-text">JS</span>
                    <span class="skill btn-small filled light-green black-text">Bootstrap</span>
                    <span class="skill btn-small filled light-green black-text">Express.js</span>
                    <span class="skill btn-small filled light-green black-text">Node.js</span>
                    <span class="skill btn-small filled light-green black-text">EJS</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <!-- END OF THE WORKS SECTION -->
        </div>
      </section>

      <!-- Work in Progress -->

      <!-- About -->

      <section class="about-section" id="about">
        <div class="container">
          <div class="row about-row">
            <div class="col s12 m6 l6 center">
              <img class="responsive-img px-5" src="img/about-graphic.png" alt="Anastasiia Balakhan" />
            </div>
            <div class="col s12 m6 l6 about-content px-5">
              <h2>I'm Anastas<span class="dot-the-eyes">ii</span>a</h2>
              <p>Software Engineer and Web Designer, born and raised in <br> <a href="https://www.leleka.care/" target="_blank" class="tooltipped" data-position="top" data-tooltip="This is a foundation focusing on medical and first-aid supplies distribution. I'd appreciate your help!">Kyiv, Ukraine</a> and now based in USA.</p>
              <p>Over the past 9 years I've gained extensive experience with software development, as well UI/UX design and digital design. 
              <br>I am always expanding my professional and creative horizons.</p>
              <p>In my free time I enjoy execising, arts and crafts, reading and music. </p>
            </div>
          </div>
                
        </div>
      </section>

      <!-- get in touch -->

      <div class="contact" id="contact">
        <div class="container">
          <div class="row">
            <div class="col s12 m12 l6 px-5">
              <h2 class="contact-header">Get in Touch</h2>
              <form id="contact-form">
                <div class="input-field">
                  <input class="item" id="name" type="text" placeholder=" ">
                  <label for="name">Name</label>
                  <span class="supporting-text error-txt" data-error="wrong" data-success="right">Name cannot be blank</span>
                </div>
                <div class="input-field inline">
                  <input class="item" id="email" type="email" placeholder=" ">
                  <label for="email">Email</label>
                  <span class="supporting-text error-txt email" data-error="wrong" data-success="right">Email cannot be blank</span>
                </div>
                <div class="input-field">
                  <input class="item" id="subject" type="text" placeholder="Hello! c:">
                  <label for="subject">Subject</label>
                  <span class="supporting-text error-txt" data-error="wrong" data-success="right">Subject cannot be blank</span>
                </div>
                <div class="input-field">
                  <textarea class="materialize-textarea item" id="textarea" maxlength="120" placeholder=" "></textarea>
                  <label for="textarea">Your Message</label>
                  <span class="supporting-text error-txt" data-error="wrong" data-success="right">Message cannot be blank</span>
                </div>
                <button class="btn filled icon-right rounded waves-effect waves-light contact-button" type="submit">
                  Submit
                </button>
              </form>  
            </div>
            <div class="col s12 m12 l6 center">
              <img class="responsive-img" src="img/girl-working.png" alt="">
            </div>
          </div>
        </div>
      </div>

      <!-- footer -->

      
      <footer class="page-footer">
        <div class="container">
          <div class="row">
            <div class="l6 m6 s12">
              <h3 class="dot-the-eyes footer-logo">ii</h3>
            </div>
            <div class="l4 m4 offset-l8 s12 p-4">
              <ul>
                <li><a href="#work">Work</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
                <li><a href="https://abalakhan.github.io/resume/">Resume</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
         <div class="container">
          <div class="row">
            <div class="l6 m6 s12 copyright-text">
              © <script>document.write(new Date().getFullYear())</script> Anastasiia Balakhan
            </div>
            <div class="l4 m4 offset-l8 s12">
              <a href="">made with <img class="footer-heart" src="img/fi-sr-heart.png" /> by abalakhan</a>
            </div>
          </div>
         </div>
        </div>
      </footer>

    <!-- Compiled and minified Materialize CSS JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/@materializecss/materialize@2.0.3-alpha/dist/js/materialize.min.js"></script>
    <!-- SMTP JS CDN -->
    <script src="https://smtpjs.com/v3/smtp.js"></script>
    <!-- Sweet Alert CDN -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- Local JS --> 
    <script src="/js/index.js" ></script>
    <script src="https://www.google.com/recaptcha/api.js?render=6Ld4jRwqAAAAAPB5TJ8Qm0FVODanUJ3AVDDdKyKH"></script>
  </body>
  </html>